@import 'fonts/roboto/roboto.css'

$color_bg: #141617
$color_module_bg: #1F2325
$color_white: #ffffff
$color_h1: #0A77BD
$color_h2: rgba($color_white, 0.54)
$color_text: rgba($color_white, 0.38)
$color_divider: #3f3f3f


%module
	background-color: $color_module_bg

%pad
	margin: 10px
	width: 80px
	height: 80px
	border-radius: 3px
	background: radial-gradient(at center center, #373a3d 0%, #2f353b 100%)
	box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25)

%pad-ref
	background: radial-gradient(at center center, #434c54 0%, #32373c 100%)

%pad-active
	background: radial-gradient(at center center, #b2d0e3 0%, #3c5e75 100%)

%pad-playing
	background: radial-gradient(at center center, #29b39e 0%, #2a5551 100%)

%pad-active-playing
	background: radial-gradient(at center center, #b0e6de 0%, #3d6c67 100%)


%label
	font-family: Roboto
	font-style: normal
	font-weight: normal
	font-size: 12px
	line-height: 14px
	letter-spacing: 0.05em

%divider
	background-color: $color_divider
	height: 2px

*,
*::before,
*::after
	box-sizing: border-box
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-webkit-tap-highlight-color: transparent


section
	@extend %module
	margin: 10px
	padding: 10px

h1
	color: $color_h1
	
	font-style: normal
	font-weight: 500
	font-size: 18px
	line-height: 21px
	letter-spacing: 0.05em
	text-transform: uppercase

h2
	color: $color_h2
	
	font-family: Roboto
	font-style: normal
	font-weight: 500
	font-size: 14px
	line-height: 16px
	letter-spacing: 0.05em


p
	font-family: Roboto
	font-style: normal
	font-weight: normal
	font-size: 14px
	line-height: 16px
	letter-spacing: 0.05em

hr
	@extend %divider
	border: none


html
	background-color: $color_bg
	color: $color_text

body
	padding: 0
	margin: 0
	font-family: 'Roboto'


button
	background: none
	border: none
	padding: 0px
	cursor: pointer
	
	// transition: all 0.1s ease
	
	// &:active
	//	transform: translateY(2px)
	
	// @extend %label
	
	
	&.button
		margin: 10px
		height: 36px
		min-width: 100px
		border-radius: 2px
		
		font-family: Roboto
		font-style: normal
		font-weight: 500
		font-size: 14px
		line-height: 16px
		text-align: center
		letter-spacing: 0.05em
		text-transform: uppercase
		
		color: $color_text
		border: 1px solid #252F39
		
		&.prior
			background-color: #0A77BD
			color: #fff
			border: none
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12)
	
	&.pad
		@extend %pad
	
	&.pad.ref
		@extend %pad-ref
	
	&.pad.active
		@extend %pad-active
	
	&.pad.playing
		@extend %pad-playing
	
	&.pad.active.playing
		@extend %pad-active-playing
	
	
	$control_size: 60px
	
	&.play
		width: $control_size
		height: $control_size
		background-image: url('img/play.svg')
		background-size: 100%
	
	&.pause
		width: $control_size
		height: $control_size
		background-image: url('img/pause.svg')
		background-size: 100%



input[type=range].test
	width: 100%
	margin: 8.9px 0
	
	height: 5px
	
	-webkit-appearance: none
	-moz-appearance: none
	
	outline: none
	
	&::-moz-focus-outer
		border: 0
	
	
	
	=thumb
		display: block
		width: 20px
		height: 20px
		border: 1px solid orange
		background-color: orange
		border-radius: 50%
		cursor: pointer
		outline: none
		position: relative
		
	
	=track
		height: 5px
		background: red
		outline: none
	
	=active
		height: 5px
		background: green
		outline: none
	
	
	&::-ms-thumb
		+thumb
		
	&::-ms-track
		+track
	
	&::-ms-fill-lower
		+active
	
	&::-ms-fill-upper
	
	
	&::-moz-range-thumb
		-moz-appearance: none
		+thumb
	
	&::-moz-range-track
		-moz-appearance: none
		+track
	
	&::-moz-range-progress
		-moz-appearance: none
		+active
	
	
	&::-webkit-slider-thumb
		-webkit-appearance: none
		+thumb
		box-shadow: -2000px 0 0 2000px #43e5f7
		clip-path: polygon(-1000px 3px, 100% 3px, 100% 6px, 100% 100%, 0 100%);
		
	
	&::-webkit-slider-runnable-track
		-webkit-appearance: none
		+track
	
	&::-webkit-progress-value
		+active
	
	
	
input[type="range"]
	$height: 40px;
	$thumb-height: 15px;
	$track-height: 4px;
	
	// colours
	$upper-color: #cfcfcf;
	$lower-color: #0199ff;
	$thumb-color: #0199ff;
	$thumb-hover-color: #55c2ff;
	
	$upper-background: linear-gradient(to bottom, $upper-color, $upper-color) 100% 50% / 100% $track-height no-repeat transparent;
	$lower-background: linear-gradient(to bottom, $lower-color, $lower-color) 100% 50% / 100% $track-height no-repeat transparent;
	
	
	@function webkit-slider-thumb-shadow($i: 1)
		$val: #{$i}px 0 0 -#{($thumb-height - $track-height) / 2} #{$upper-color}
		@if $i == 1
			@for $k from 2 through 1000
				$val: #{$val}, webkit-slider-thumb-shadow($k)
			
		
		@return $val
	
	&
		display: block
		appearance: none
		width: 100%
		margin: 0
		height: $height
		overflow: hidden
		background: transparent
		cursor: pointer
		
		&:focus
			outline: none
	
	
	// Webkit
	&::-webkit-slider-runnable-track
		width: 100%
		height: $height
		background: $lower-background
	
	
	&::-webkit-slider-thumb
		position: relative
		appearance: none
		height: $thumb-height
		width: $thumb-height
		background: $thumb-color
		border-radius: 100%
		border: 0
		top: 50%
		margin-top: (-$thumb-height/2)
		box-shadow: webkit-slider-thumb-shadow()
		transition: background-color 150ms
	
	// Firefox
	&::-moz-range-track,
	&::-moz-range-progress
		width: 100%
		height: $height
		background: $upper-background
	
	
	&::-moz-range-progress
		background: $lower-background
	
	
	&::-moz-range-thumb
		appearance: none
		margin: 0
		height: $thumb-height
		width: $thumb-height
		background: $thumb-color
		border-radius: 100%
		border: 0
		transition: background-color 150ms
	
	
	// Internet Exploder
	&::-ms-track
		width: 100%
		height: $height
		border: 0
		// color needed to hide track marks
		color: transparent
		background: transparent
	
	
	&::-ms-fill-lower
		background: $lower-background
	
	
	&::-ms-fill-upper
		background: $upper-background
	
	
	&::-ms-thumb
		appearance: none
		height: $thumb-height
		width: $thumb-height
		background: $thumb-color
		border-radius: 100%
		border: 0
		transition: background-color 150ms
		// IE Edge thinks it can support -webkit prefixes
		top: 0
		margin: 0
		box-shadow: none
	
	
	&:hover,
	&:focus
		
		&::-webkit-slider-thumb
			background-color: $thumb-hover-color
		
		&::-moz-range-thumb
			background-color: $thumb-hover-color
		
		&::-ms-thumb
			background-color: $thumb-hover-color
	
	
	


.color
	margin-top: 30px
	margin-bottom: 30px
	display: grid
	grid-template-columns: 0fr 0fr 1fr
	justify-content: left
	align-items: center
	
	.title
	
	.example
		width: 60px
		height: 30px
		margin-left: 20px
		margin-right: 20px
		outline: 1px solid black
		
	
	.code


.pads
	display: grid
	grid-template-columns: 0fr 0fr 0fr 0fr 0fr
	
	.item
		margin: 20px
		text-align: center
	
	button.pad
		
	
	div
		




